<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension
		point="org.eclipse.ui.editors">
		<editor
			class="de.grammarcraft.epsilon.ui.EpsilonExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
			contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
			default="true"
			extensions="eps,epsilon,eag"
			id="de.grammarcraft.epsilon.Epsilon"
			name="Epsilon Editor">
		</editor>
	</extension>
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="de.grammarcraft.epsilon.ui.EpsilonExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
			commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
			<activeWhen>
				<reference
					definitionId="de.grammarcraft.epsilon.Epsilon.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler
			class="de.grammarcraft.epsilon.ui.EpsilonExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
			commandId="de.grammarcraft.epsilon.Epsilon.validate">
			<activeWhen>
				<reference
					definitionId="de.grammarcraft.epsilon.Epsilon.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<!-- copy qualified name -->
		<handler
			class="de.grammarcraft.epsilon.ui.EpsilonExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedNameHandler"
			commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName">
			<activeWhen>
				<reference definitionId="de.grammarcraft.epsilon.Epsilon.Editor.opened" />
			</activeWhen>
		</handler>
		<handler
			class="de.grammarcraft.epsilon.ui.EpsilonExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedNameHandler"
			commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName">
			<activeWhen>
				<and>
					<reference definitionId="de.grammarcraft.epsilon.Epsilon.XtextEditor.opened" />
					<iterate>
						<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
					</iterate>
				</and>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.core.expressions.definitions">
		<definition id="de.grammarcraft.epsilon.Epsilon.Editor.opened">
			<and>
				<reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
						value="de.grammarcraft.epsilon.Epsilon"
						forcePluginActivation="true"/>
				</with>
			</and>
		</definition>
		<definition id="de.grammarcraft.epsilon.Epsilon.XtextEditor.opened">
			<and>
				<reference definitionId="isXtextEditorActive"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
						value="de.grammarcraft.epsilon.Epsilon"
						forcePluginActivation="true"/>
				</with>
			</and>
		</definition>
	</extension>
	<extension
			point="org.eclipse.ui.preferencePages">
		<page
			class="de.grammarcraft.epsilon.ui.EpsilonExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
			id="de.grammarcraft.epsilon.Epsilon"
			name="Epsilon">
			<keywordReference id="de.grammarcraft.epsilon.ui.keyword_Epsilon"/>
		</page>
		<page
			category="de.grammarcraft.epsilon.Epsilon"
			class="de.grammarcraft.epsilon.ui.EpsilonExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
			id="de.grammarcraft.epsilon.Epsilon.coloring"
			name="Syntax Coloring">
			<keywordReference id="de.grammarcraft.epsilon.ui.keyword_Epsilon"/>
		</page>
		<page
			category="de.grammarcraft.epsilon.Epsilon"
			class="de.grammarcraft.epsilon.ui.EpsilonExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
			id="de.grammarcraft.epsilon.Epsilon.templates"
			name="Templates">
			<keywordReference id="de.grammarcraft.epsilon.ui.keyword_Epsilon"/>
		</page>
	</extension>
	<extension
			point="org.eclipse.ui.propertyPages">
		<page
			class="de.grammarcraft.epsilon.ui.EpsilonExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
			id="de.grammarcraft.epsilon.Epsilon"
			name="Epsilon">
			<keywordReference id="de.grammarcraft.epsilon.ui.keyword_Epsilon"/>
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
			<filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
		</page>
	</extension>
	<extension
		point="org.eclipse.ui.keywords">
		<keyword
			id="de.grammarcraft.epsilon.ui.keyword_Epsilon"
			label="Epsilon"/>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Trigger expensive validation"
			id="de.grammarcraft.epsilon.Epsilon.validate"
			name="Validate">
		</command>
		<!-- copy qualified name -->
		<command
			id="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
			categoryId="org.eclipse.ui.category.edit"
			description="Copy the qualified name for the selected element"
			name="Copy Qualified Name">
		</command>
		<command
			id="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
			categoryId="org.eclipse.ui.category.edit"
			description="Copy the qualified name for the selected element"
			name="Copy Qualified Name">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			<command
				commandId="de.grammarcraft.epsilon.Epsilon.validate"
				style="push"
				tooltip="Trigger expensive validation">
				<visibleWhen checkEnabled="false">
					<reference
						definitionId="de.grammarcraft.epsilon.Epsilon.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
		<!-- copy qualified name -->
		<menuContribution locationURI="popup:#TextEditorContext?after=copy">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<reference definitionId="de.grammarcraft.epsilon.Epsilon.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution locationURI="menu:edit?after=copy">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<reference definitionId="de.grammarcraft.epsilon.Epsilon.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution locationURI="popup:org.eclipse.xtext.ui.outline?after=additions">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<and>
						<reference definitionId="de.grammarcraft.epsilon.Epsilon.XtextEditor.opened" />
						<iterate>
							<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
						</iterate>
					</and>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
					<reference definitionId="de.grammarcraft.epsilon.Epsilon.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="de.grammarcraft.epsilon.ui.EpsilonExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
			commandId="org.eclipse.xtext.ui.editor.FindReferences">
			<activeWhen>
				<reference
					definitionId="de.grammarcraft.epsilon.Epsilon.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type
			base-type="org.eclipse.core.runtime.text"
			file-extensions="eps,epsilon,eag"
			id="de.grammarcraft.epsilon.Epsilon.contenttype"
			name="Epsilon File"
			priority="normal">
		</content-type>
	</extension>
	<!-- adding resource factories -->
	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="de.grammarcraft.epsilon.ui.EpsilonExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="eps">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
		<resourceServiceProvider
			class="de.grammarcraft.epsilon.ui.EpsilonExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
			uriExtension="eps">
		</resourceServiceProvider>
	</extension>
	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="de.grammarcraft.epsilon.ui.EpsilonExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="epsilon">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
		<resourceServiceProvider
			class="de.grammarcraft.epsilon.ui.EpsilonExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
			uriExtension="epsilon">
		</resourceServiceProvider>
	</extension>
	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="de.grammarcraft.epsilon.ui.EpsilonExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="eag">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
		<resourceServiceProvider
			class="de.grammarcraft.epsilon.ui.EpsilonExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
			uriExtension="eag">
		</resourceServiceProvider>
	</extension>
	<!-- marker definitions for de.grammarcraft.epsilon.Epsilon -->
	<extension
			id="epsilon.check.fast"
			name="Epsilon Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.fast"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="epsilon.check.normal"
			name="Epsilon Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.normal"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="epsilon.check.expensive"
			name="Epsilon Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.expensive"/>
		<persistent value="true"/>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="de.grammarcraft.epsilon.Epsilon"
			class="de.grammarcraft.epsilon.ui.EpsilonExecutableExtensionFactory:org.eclipse.xtext.ui.validation.ValidatorPreferencePage"
			id="de.grammarcraft.epsilon.Epsilon.validator.preferencePage"
			name="Errors/Warnings">
			<keywordReference id="de.grammarcraft.epsilon.ui.keyword_Epsilon"/>
		</page>
	</extension>
	<extension point="org.eclipse.xtext.builder.participant">
		<participant
			class="de.grammarcraft.epsilon.ui.EpsilonExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant"
			fileExtensions="eps,epsilon,eag"/>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="de.grammarcraft.epsilon.Epsilon"
			class="de.grammarcraft.epsilon.ui.EpsilonExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
			id="de.grammarcraft.epsilon.Epsilon.compiler.preferencePage"
			name="Compiler">
			<keywordReference id="de.grammarcraft.epsilon.ui.keyword_Epsilon"/>
		</page>
	</extension>
	<extension point="org.eclipse.ui.propertyPages">
		<page
			category="de.grammarcraft.epsilon.Epsilon"
			class="de.grammarcraft.epsilon.ui.EpsilonExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
			id="de.grammarcraft.epsilon.Epsilon.compiler.propertyPage"
			name="Compiler">
			<keywordReference id="de.grammarcraft.epsilon.ui.keyword_Epsilon"/>
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
			<filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
		</page>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?after=xtext.ui.openDeclaration">
			<command
				commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand"
				id="de.grammarcraft.epsilon.Epsilon.OpenGeneratedCode"
				style="push">
				<visibleWhen checkEnabled="false">
					<reference definitionId="de.grammarcraft.epsilon.Epsilon.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="de.grammarcraft.epsilon.ui.EpsilonExecutableExtensionFactory:org.eclipse.xtext.ui.generator.trace.OpenGeneratedFileHandler"
			commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand">
			<activeWhen>
				<reference definitionId="de.grammarcraft.epsilon.Epsilon.Editor.opened" />
			</activeWhen>
		</handler>
	</extension>
	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="de.grammarcraft.epsilon.ui.EpsilonExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="de.grammarcraft.epsilon.Epsilon.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="de.grammarcraft.epsilon.Epsilon.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<!-- quickfix marker resolution generator for de.grammarcraft.epsilon.Epsilon -->
	<extension
			point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
			class="de.grammarcraft.epsilon.ui.EpsilonExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="de.grammarcraft.epsilon.ui.epsilon.check.fast">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="de.grammarcraft.epsilon.ui.EpsilonExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="de.grammarcraft.epsilon.ui.epsilon.check.normal">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="de.grammarcraft.epsilon.ui.EpsilonExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="de.grammarcraft.epsilon.ui.epsilon.check.expensive">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
	</extension>
	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="de.grammarcraft.epsilon.ui.EpsilonExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.DefaultRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="de.grammarcraft.epsilon.Epsilon.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			<command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
				style="push">
				<visibleWhen checkEnabled="false">
					<reference
						definitionId="de.grammarcraft.epsilon.Epsilon.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="de.grammarcraft.epsilon.Epsilon"
			class="de.grammarcraft.epsilon.ui.EpsilonExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
			id="de.grammarcraft.epsilon.Epsilon.refactoring"
			name="Refactoring">
			<keywordReference id="de.grammarcraft.epsilon.ui.keyword_Epsilon"/>
		</page>
	</extension>
	<extension point="org.eclipse.compare.contentViewers">
		<viewer id="de.grammarcraft.epsilon.Epsilon.compare.contentViewers"
			class="de.grammarcraft.epsilon.ui.EpsilonExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
			extensions="eps,epsilon,eag">
		</viewer>
		<contentTypeBinding
			contentTypeId="de.grammarcraft.epsilon.Epsilon.contenttype"
			contentViewerId="de.grammarcraft.epsilon.Epsilon.compare.contentViewers" />
	</extension>
	<extension point="org.eclipse.compare.contentMergeViewers">
		<viewer id="de.grammarcraft.epsilon.Epsilon.compare.contentMergeViewers"
			class="de.grammarcraft.epsilon.ui.EpsilonExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
			extensions="eps,epsilon,eag" label="Epsilon Compare">
		</viewer>
		<contentTypeBinding
			contentTypeId="de.grammarcraft.epsilon.Epsilon.contenttype"
			contentMergeViewerId="de.grammarcraft.epsilon.Epsilon.compare.contentMergeViewers" />
	</extension>
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider id="de.grammarcraft.epsilon.Epsilon.editors.documentProviders"
			class="de.grammarcraft.epsilon.ui.EpsilonExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
			extensions="eps,epsilon,eag">
		</provider>
	</extension>
	<extension point="org.eclipse.team.core.fileTypes">
		<fileTypes
			extension="eps"
			type="text">
		</fileTypes>
		<fileTypes
			extension="epsilon"
			type="text">
		</fileTypes>
		<fileTypes
			extension="eag"
			type="text">
		</fileTypes>
	</extension>
	
    <extension point="org.eclipse.ui.preferencePages">
        <page
            category="de.grammarcraft.epsilon.Epsilon"
            class="de.grammarcraft.epsilon.ui.EpsilonExecutableExtensionFactory:de.grammarcraft.epsilon.ui.config.EpsilonPreferencePage"
            id="de.grammarcraft.epsilon.Epsilon.generator.preferencePage"
            name="Generator">
            <keywordReference id="de.grammarcraft.epsilon.ui.keyword_Epsilon"/>
        </page>
    </extension>

    <extension point="org.eclipse.ui.propertyPages">
        <page
            category="de.grammarcraft.epsilon.Epsilon"
            class="de.grammarcraft.epsilon.ui.EpsilonExecutableExtensionFactory:de.grammarcraft.epsilon.ui.config.EpsilonPreferencePage"
            id="de.grammarcraft.epsilon.Epsilon.generator.propertyPage"
            name="Generator">
            <keywordReference id="de.grammarcraft.epsilon.ui.keyword_Epsilon"/>
            <enabledWhen>
                <adapt type="org.eclipse.core.resources.IProject"/>
            </enabledWhen>
            <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
   
	
</plugin>
