<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.grammarcraft.epsilon.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.grammarcraft.epsilon.Epsilon"
            class="de.grammarcraft.epsilon.ui.config.preferences.GeneratorPreferencePage"
            id="de.grammarcraft.epsilon.ui.config.preferences.GeneratorPreferencePage"
            name="Compiler Generator">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="de.grammarcraft.epsilon.ui.config.properties.GeneratorPropertyPage"
            id="de.grammarcraft.epsilon.ui.config.properties.samplePropertyPage"
            name="Compiler Generator"
            category="de.grammarcraft.epsilon.Epsilon">
        <enabledWhen>
          <adapt type="org.eclipse.core.resources.IProject"/>
        </enabledWhen>
        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
      </page>
   </extension>

</plugin>
